.projects {
  margin-bottom: 150px;
}

.projects .container {
  width: 90vw;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  margin-top: 40px;
}
