.project {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.project .image {
  height: 225px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project:nth-child(1) .image {
  background: url('../../assets/images/projects/portfolio.png') center center;
  background-size: cover;
}

.project:nth-child(2) .image {
  background: url('../../assets/images/projects/premium-landing-page.png') center center;
  background-size: cover;
}

.project:nth-child(3) .image {
  background: url('../../assets/images/projects/restaurant-page.png') center center;
  background-size: cover;
}

.project:nth-child(4) .image {
  background: url('../../assets/images/projects/multistep-form.png') center center;
  background-size: cover;
}

.project h3 {
  font-size: 25px;
}

.project p {
  margin: 0;
  margin-top: 7.5px;
}

.project .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project button {
  transition: transform 0.2s;
  border-radius: 5px;
  font-size: 20px;
  padding: 7.5px 30px;
}

.project button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.project button.live {
  background-color: #F70A5D;
  color: #fff;
  border: none;
}

.project button.code {
  background: none;
  color: #F70A5D;
  border: 1px solid #F70A5D;
}
