/* Nav Large */

.nav-large {
  display: none;
}

.nav-large li {
  height: 60px;
  display: flex;
  align-items: center;
  transform: skew(-20deg);
  color: var(--color1);
  padding: 0 20px;
  font-size: 18px;
  padding: 0 25px;
}

.nav-large li.active {
  background: var(--color1);
  background: var(--gradient2);
  background: var(--gradient1);
  color: #fff;
}

.nav-large li.active:hover {
  cursor: pointer;
}

.nav-large li:not(.active):hover {
  background: var(--light-gray);
  color: #000;
  cursor: pointer;
}

/* Nav Small */

.nav-small {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  position: fixed;
  top: -16px;
  left: 0;
  transition: opacity 0.2s;
  background-color: #fff;
  opacity: 0;
  z-index: 4;
}

.nav-small.active {
  opacity: 1;
}

.nav-small:not(.active) {
  pointer-events: none;
}
  
.nav-small li:hover {
  color: var(--color2);
  cursor: pointer;
}

/* Media Queries */

@media (min-width: 800px) {
  .nav-large {
    display: flex;
  }

  .nav-small.active {
    opacity: 0;
    pointer-events: none;
  }
}
