/* List */

.list {
  --color: #F70A5D;

  width: calc(100vw - 200px);
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  background-color: var(--color);
}

.list li {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color 0.2s;
  color: #fff;
  font-size: 20px;
}

.list li:hover {
  cursor: pointer;
}

.list li::before {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: width 0.4s;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
}

.list li.active::before {
  width: 100%;
}

.list .ribbon1::before, .list .ribbon1::after, .list .ribbon2::before, .list .ribbon2::after {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  border-color: transparent transparent var(--color);
  border-style: solid;
  border-width: 50px;
  z-index: -1;
}

.list .ribbon1::before {
  top: -100%;
  left: -50px;
}

.list .ribbon1::after {
  left: -50px;
  bottom: -100%;
  transform: rotate(180deg);
}

.list .ribbon2::before {
  top: -100%;
  right: -50px;
}

.list .ribbon2::after {
  right: -50px;
  bottom: -100%;
  transform: rotate(180deg);
}

/* List Small */

.list-small {
  --color: #F70A5D;
  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  position: fixed;
  top: -20px;
  left: 0;
  transition: opacity 0.2s;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
}

.list-small.active {
  pointer-events: all;
  opacity: 1;
}

.list-small li {
  font-size: 20px;
}

.list-small li:hover {
  cursor: pointer;
  color: var(--color);
}

@media (min-width: 800px) {
  .list {
    display: flex;
  }

  .list-small {
    opacity: 0 !important;
    pointer-events: none !important;
  }
}
