.skills .container {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  padding-bottom: 100px;
}

@media (min-width: 800px) {
  .skills .container {
    width: 500px;
  }
}
