.skills {
  padding-bottom: 150px;
}

.skills .container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  margin-top: 50px;
}

@media (min-width: 800px) {
  .skills {
    padding-bottom: 250px;
  }
}
