@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Default Styles */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: var(--default-fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  font-family: var(--default-fonts);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  overflow-x: hidden !important;
}

/* Variables */

:root {
  --light-gray: #d3d3d3;
  --gray: gray;
  --red: #ef4b6c;
  
  --default-fonts: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
